In [1]:
import pandas as pd
data = pd.read_csv("salary.csv")

In [2]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
# To print initial 5 records 
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
# to get info about the dataset 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
# Now, we have features as Experience 
x = data["YearsExperience"]

In [6]:
type(x)

pandas.core.series.Series

In [7]:
# Now as type is series, we have to change to numpy array 
x=x.values
type(x)

numpy.ndarray

In [8]:
# Now we need to reshape the data
x=x.reshape(-1,1)  # -1 will take the len of record. 
x.shape

(30, 1)

In [9]:
y = data["Salary"]

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [11]:
model.fit(x,y)

LinearRegression()

In [12]:
# To get the weight/coefficient 
model.coef_

array([9449.96232146])

In [13]:
# Now, let us predict 
model.predict([[2.5]])

array([49417.10600231])

So we know it uses y=wx formula

In [14]:
# Let us manually calculate 
manual_pred = model.coef_ * 2.5
print(manual_pred)

[23624.90580364]

In [15]:
# Model prediction
model_pred = model.predict([[2.5]])
print(model_pred)

[49417.10600231]

#### There is huge difference between Manual Predicted Value and Model Predicted

### Why??

In [16]:
# If we have a record with experience as 0 years. We dont want to provide 0 salary.
# We have to set some initial salary which is to be provided. 
# That means we have to add some constant in our equation. 
# This constant here is called as Bias. 
# SO now formula becomes 

# y = w*x + b where w is weight and b is bias

In [17]:
# To get bias 
# Bias is actually the intercept of the regression line on y axis i.e when x =0
model.intercept_

25792.20019866871

In [18]:
# Now, let us check with eqn y = wx+c

pred = model.coef_ * 2.5 + model.intercept_
print(pred)

[49417.10600231]

Now, it has same value as the prediction by model.

In [19]:
import joblib

In [21]:
sal_pred=joblib.dump(model_pred,'find_salary.pkl')